<a href="https://colab.research.google.com/github/AcingMunch908/Hello-World/blob/master/Nov_16_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Exercise 1

In [25]:
print("Niraj Koneru\n8640 Charleston Ridge Dr.\nMason, OH 45040")

Niraj Koneru
8640 Charleston Ridge Dr.
Mason, OH 45040

In [24]:
#Exercise 2

In [17]:
name = input ("What is your Name? ")
print("Hello", name + "!")

What is your Name? Niraj
Hello Niraj!

In [18]:
#Exercise 3

In [28]:
length = float(input("Length(ft): "))
width = float(input("Width(ft): "))
area = length * width
print("Area(ft^2):",area,"ft^2")

Length(ft): 3
Width(ft): 4
Area(ft^2): 12.0 ft^2

In [29]:
#Exercise 4

In [32]:
l = float(input("Enter the length:"))
w = float(input("Enter the width:"))
area = l * w;
print("Area in acre:",area/43560)

Enter the length:59999
Enter the width:2
Area in acre: 2.7547750229568413

In [33]:
#Exercise 5

In [48]:
small_container = int(input("# of small containers recycled: "))
large_container = int(input("# of large containers recycled: "))
refund = (small_container * 0.10) + (large_container * 0.25)
print(f"The total refund is ${refund:.2f}")

# of small containers recycled: 6
# of large containers recycled: 7
The total refund is $2.35

In [49]:
#Exercise 6

In [54]:
meal_price = float(input("What is the price of the meal? "))
tip = meal_price * 0.18
tax = Meal_Price * 0.06
total = meal_price + tip + tax
print(f"Tip Amount: ${tip:.2f}" )
print(f"Tax Amount: ${tax:.2f}" )
print(f"Grand Total: ${total:.2f}" )

What is the price of the meal? 25
Tip Amount: $4.50
Tax Amount: $1.20
Grand Total: $30.70